
@media only screen and (min-width: 700px) {
  .box-logo{
    margin: 0 auto;
    width: 400px;
    position: relative;
  }
}

body{
  background: url('../img/stardust.png') #0a1a2e fixed;
  color: #fff;
}

.box{
  text-align: center;
}

.logo{
  max-width: 100%;
}
.item-time{
  background: #bf3b2b;
  padding: 10px 17px;
  font-size: 21pt;
}
@media only screen and (max-width: 320px) {
  .item-time{
    background: #bf3b2b;
    padding: 5px 8px;
    font-size: 21pt;
  }
}
.box-time{
  display: inline-block;
  margin: 5px;
}
