body{
  background: url('../img/stardust.png') #0a1a2e fixed;
  color: #fff;
}

.box{
  text-align: center;
}
.logo{
  height: 400px;
}
.item-time{
  background: #bf3b2b;
  padding: 10px 17px;
  font-size: 21pt;
}
.box-time{
  display: inline-block;
  margin: 5px;
}
