<!DOCTYPE html>
<html lang="en">
<head>


  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>IFEST #5 - Informatics Festival UAJY</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <style type="text/css">
  .flex-caption {
    width: 96%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
  }
</style>
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">



  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="bower_components\flexslider\flexslider.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="assets\css\main.css">
  <link rel="stylesheet" href="skeleton-custom\css\normalize.css">
  <link rel="stylesheet" href="skeleton-custom\css\skeleton.css">
  <link rel="stylesheet" href="bower_components\vertical-timeline\vertical-timeline\css\style.css">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="bower_components\jquery\dist\jquery.min.js"></script>
  <script src="bower_components\angular\angular.min.js"></script>
  <script src="bower_components\flexslider\jquery.flexslider-min.js"></script>
  <script src="bower_components\vertical-timeline\vertical-timeline\js\main.js"></script>
  <script src="bower_components\vertical-timeline\vertical-timeline\js\modernizr.js"></script>
  <script src="bower_components\scrollreveal\dist\scrollreveal.min.js"></script>
  <script src="bower_components\smooth-scroll\dist\js\smooth-scroll.min.js"></script>
  <script src="assets\js\main.js"></script>
  <script src="bower_components\angular-recaptcha\release\angular-recaptcha.min.js"></script>

  <!-- ANGULAR SCRIPT -->
  <script>
  var contactApp = angular.module("contactApp", ['vcRecaptcha']);
  contactApp.controller("contactCtrl", function($scope, $http, vcRecaptchaService) {

    $scope.model = {
      key: '6LeGohMUAAAAAAAulJycmhYrxxcoE-uWSlJhxYYY'
    };
    
    $scope.formData = {
      'g-recaptcha-response': ''
    };

    $scope.button = "KIRIM";

    $scope.contactSubmit = function () {

      if (vcRecaptchaService.getResponse()) {

        $scope.formData['g-recaptcha-response'] = vcRecaptchaService.getResponse();

        $scope.notif = "";
        $scope.button = "MENGIRIM..."

        $http({
          method  : 'POST',
          url     : 'http://api.ifest-uajy.com/v1/contact',
          data    : $.param($scope.formData),
          headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
         })
        .then(function(data) {
          $scope.notif = "Pesan berhasil terkirim.";
          $scope.button = "KIRIM";
        },
        function(data) {
          $scope.notif = "Pesan gagal terkirim.";
          $scope.button = "KIRIM";
        });

      }else{
        $scope.notif = "Lengkapi captcha terlebih dahulu.";
      }
    }

  });
  </script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="assets\img\favicon.ico">
  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="bower_components\font-awesome\css\font-awesome.min.css">

</head>

<body>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <section data-scroll-header id="header">
    <div class="container">
      <div class="row">
        <div class="two columns">
          <div class="logo-box">
            <img id="logo" src="assets/img/logo-ifest.png">
          </div>
        </div>
        <div class="ten columns">
          <div class="navbar">
            <ul class="navbar-box">
              <li class="item-nav">
                <a data-scroll href="#content-2">
                  Beranda
                </a>
              </li>
              <li class="item-nav">
                <a data-scroll href="#content-acara">
                  Acara
                </a>
              </li>
              <li class="item-nav">
                <a data-scroll href="#content-timeline">
                  Jadwal
                </a>
              </li>
              <li class="item-nav">
                <a data-scroll href="#content-cp">
                  Kontak Kami
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="content-header">
    <div class="container">
      <div class="twenty columns">
        <div class="logo-ifest">
          <div class="logo-content">
            <img src="logo-acara.new\logo-ifest.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="content-2">
    <div class="container">
      <div class="row">
        <div class="seven columns">
          <div class="flexslider">
            <ul class="slides">
              <li>
                <img class="img-slider" src="gallery\i2c.jpg" />
                <p class="flex-caption">I2C</p>
              </li>
              <li>
                <img class="img-slider" src="gallery\IMG_0237.JPG" />
                <p class="flex-caption">SEMINAR NASIONAL</p>
              </li>
              <li>
                <img class="img-slider" src="gallery\DSC_0638.JPG" />
                <p class="flex-caption">BAZZAR & EXPO</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="five columns">
          <div class="box-content">
            <div class="item-box">
              <h1 class="title">Apa itu IFEST ? </h1>
              <p class="desc">
                IFEST atau Informatics Festival adalah festival tahunan dari Himpunan Mahasiswa Teknik Informatika - Universitas Atma Jaya Yogyakarta. Tahun 2017 ini adalah tahun dari IFEST yang kelima dan pada tahun ini mengambil tema
                "A BIG LITTLE THING".</p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-cf"></div>
    </div>
  </div>
</section>
<section id="content-acara">
  <div class="container">
    <div class="row">
      <div class="twenty columns">
        <div class="title-content-acara">
          <h1 class="text-title">Event IFEST #5 2017</h1>
        </div>
      </div>
    </div>
  </div>
  <section id="acara-top">
    <div class="container">
      <div class="content-box">
        <div class="row">
          <div class="box-content-acara">
            <div class="three columns">
              <div class="item-acara">
                <a href="http://ifest-uajy.com/hackfest">
                  <div class="splash">
                    <span>DETIL</span>
                  </div>
                  <div class="img-acara">
                    <img src="logo-acara.new\HACKFEST.png">
                  </div>
                  <h4>HACKFEST</h4>
                </a>
              </div>
            </div>
            <div class="three columns">
              <div class="item-acara">
                <a href="http://ifest-uajy.com/i2c">
                  <div class="splash">
                    <span>DETIL</span>
                  </div>
                  <div class="img-acara">
                    <img src="logo-acara.new\I2C.png">
                  </div>
                  <h4>I2C</h4>
                </a>
              </div>
            </div>
            <div class="three columns">
              <div class="item-acara">
                <!-- <a href="#"> -->
                  <div class="splash">
                    <span>DETIL</span>
                  </div>
                  <div class="img-acara">
                    <img src="logo-acara.new\PNC.png">
                  </div>
                  <h4>PNC</h4>
                <!-- </a> -->
              </div>
            </div>
            <div class="three columns">
              <div class="item-acara">
                <!-- <a href="#"> -->
                  <div class="splash">
                    <span>DETIL</span>
                  </div>
                  <div class="img-acara">
                    <img src="logo-acara.new\Logo ME.png">
                  </div>
                  <h4>MULTI EVENT</h4>
                <!-- </a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="acara-bottom">
    <div class="container">
      <div class="arrow-border"></div>
      <div class="box-content-acara">
        <div class="content-box">
          <div class="row">
            <div class="three columns">
              <div class="item-acara">
                <a href="http://ifest-uajy.com/seminar">
                  <div class="splash">
                    <span>DETIL</span>
                  </div>
                  <div class="img-acara">
                    <img src="assets/img/seminar.png">
                  </div>
                  <h4>SEMINAR NASIONAL</h4>
                </a>
              </div>
            </div>
            <div class="three columns">
              <div class="item-acara">
                <div class="splash">
                  <span>DETIL</span>
                </div>
                <div class="img-acara">
                  <img src="assets/img/minigames.PNG">
                </div>
                <h4>GamesFest</h4>
              </div>
            </div>
            <div class="three columns">
              <div class="item-acara">
                <!-- <a href="#"> -->
                  <div class="splash">
                    <span>DETIL</span>
                  </div>
                  <div class="img-acara">
                    <img src="assets/img/food.png">
                  </div>
                  <h4>BAZZAR & EXPO</h4>
                <!-- </a> -->
              </div>
            </div>
            <div class="three columns">
              <div class="item-acara">
                <!-- <a href="#"> -->
                  <div class="splash">
                    <span>DETIL</span>
                  </div>
                  <div class="img-acara">
                    <img src="assets/img/donordarah.png">
                  </div>
                  <h4>DONOR DARAH</h4>
                <!-- </a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<section id="content-timeline">
  <div class="title-timeline">
    <h1>Jadwal</h1>
  </div>
  <div id="cd-timeline">
    <div class="cd-container js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg i  nlinesvg smil svgclippaths">
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-box1">
          <img src="assets/img/timeline/i2c.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
          <h2>I2C</h2>
          <p>
            I2C adalah Informatics Innovative Contest.
            Di I2C sendiri dibagi menjadi 2 jenis perlombaan untuk diikuti, yaitu Trailer dan Ide Aplikasi.
            Lomba pembuatan trailer yang diperuntukkan seluruh mahasiswa Universitas Atma Jaya Yogyakarta. dan Ide Aplikasi  yang di perlombakan untuk seluruh siswa SMA/SMK sederajat se-Indonesia(Nasional).
          </p>
          <!-- <a href="#0" class="btn-cp cd-read-more">Read more</a> -->
          <span class="cd-date">10 Mei 2017</span>
        </div> <!-- cd-timeline-content -->

      </div> <!-- cd-timeline-block -->
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-box1">
          <img src="logo-acara.new\HACKFEST.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
          <h2>Hackfest</h2>
          <p>
            Hackfest merupakan perlombaan dimana kita akan memecahkan suatu masalah yang ada dikehidupan sehari - hari dengan sebuah terobosan baru melalui dunia IT secara yang dilakukan secara kontinu selama 24 jam.
          </p>
          <!-- <a href="#0" class="btn-cp cd-read-more">Read more</a> -->
          <span class="cd-date">12-13 Mei 2017</span>
        </div> <!-- cd-timeline-content -->

      </div> <!-- cd-timeline-block -->
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-box1">
          <img src="assets/img/food.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
          <h2>BAZZAR & EXPO</h2>
          <p>
            Bazzar dan Expo merupakan bagian dari Multi Event yang diselenggarakan sebagai acara hiburan.
            Bazzar yang diselenggarakan ini adalah bazzar makanan dan minuman, sedangkan
            Expo menampilkan hasil kreativitas mahasiswa yang bergabung dalam kelompok studi yaitu Kelompok Studi Pemrograman (KSP), Kelompok Studi Desain Grafis (KSDG), dan Kelompok Studi Linux (KSL), Serta terdapat minigames.
          </p>
          <!-- <a href="#0" class="btn-cp cd-read-more">Read more</a> -->
          <span class="cd-date">17-20 Mei 2017</span>
        </div> <!-- cd-timeline-content -->

      </div> <!-- cd-timeline-block -->
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-box1">
          <img src="assets/img/donordarah.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
          <h2>DONOR DARAH</h2>
          <p>
            Donor Darah merupakan bagian dari Multi Event yang diselenggarakan untuk dapat membantu akan kebutuhan kantong darah.
            Dengan kegiatan ini, diharapkan dapat memfasilitasi pendonor untuk memberikan darahnya dan membanu pasokan darah khususnya di Daerah Istimewa Yogyakarta.
          </p>
          <!-- <a href="#0" class="btn-cp cd-read-more">Read more</a> -->
          <span class="cd-date">19 Mei 2017</span>
        </div> <!-- cd-timeline-content -->
      </div> <!-- cd-timeline-block -->
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-box1">
          <img src="assets/img/timeline/seminar.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
          <h2>SEMINAR NASIONAL</h2>
          <p>
            Seminar Nasional merupakan bagian dari Multi Event yang memberikan pengetahuan kepada peserta cara agar sukses dengan game dari berbagai sudut pandang.
            Seminar ini terbuka untuk umum yang bertemakan <i>“The Benefit of Games”</i> .
          </p>
          <!-- <a href="#0" class="btn-cp cd-read-more">Read more</a> -->
          <span class="cd-date">21 Mei 2017</span>
        </div> <!-- cd-timeline-content -->

      </div> <!-- cd-timeline-block -->
    </div>
  </div>
</section>
<section id="content-sponsor">
  <div id="sponsor-top">
    <div class="box-sponsor">
      <div class="title-box">
        <h1 class="title">Sponsor IFEST #5 2017</h1>
      </div>
    </div>
  </div>
  <div id="sponsor-body">
    <div class="container">
      <div class="row sponsor-items">
        <div class="gold sponsor-item"><img src="sponsor\msi.png" alt=""></div>
        <div class="gold sponsor-item"><img src="sponsor\gameloft.png" alt=""></div>
      </div>
      <div class="row sponsor-items">
        <div class="bronze sponsor-item"><img src="sponsor\klick.jpg" alt=""></div>
        <div class="bronze sponsor-item"><img src="sponsor\jogjatv.png" alt=""></div>
        <div class="bronze sponsor-item"><img src="sponsor\smartfm.png" alt=""></div>
        <div class="bronze sponsor-item"><img src="sponsor\biznet.png" alt=""></div>
      </div>
    </div>
  </div>
</section>
<section id="content-map">
    <iframe id="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Universitas%20Atma%20Jaya%20Yogyakarta%2C%20Kampus%203%20Gedung%20Bonaventura%20Babarsari&key=AIzaSyA99mTMcZavwOuy-EEHOaQefqMpqd71BjQ" allowfullscreen></iframe>
</section>

<section id="content-cp">
  <div class="container">
    <div class="title-contact">
      <h2>KONTAK KAMI</h2>
    </div>
    <div class="row">
      <div class="eight columns">
        <div class="box-contact">

          <div ng-app="contactApp" ng-controller="contactCtrl" class="box-form">
            <!--<form ng-submit="contactSubmit()" action="http://api.ifest-uajy.com/v1/contact" method="post" class="box-form-content">-->
            <form ng-submit="contactSubmit()">
              <div class="row">
                <div class="one-half column">
                  <label>Nama</label>
                  <input ng-model="formData.full_name" name="full_name" type="text" required>
                </div>
                <div class="one-half column">
                  <label>Email</label>
                  <input ng-model="formData.email" name="email" type="email" required>
                </div>
              </div>
              <div class="form-group">
                <label>Asal (Organisasi/Institusi/Sekolah)</label>
                <input ng-model="formData.institution" name="institution" type="text" required>
              </div>
              <div class="form-group">
                <label>Subject</label>
                <input ng-model="formData.subject" name="subject" type="text" required>
              </div>
              <div class="form-group">
                <label>Pesan</label>
                <textarea ng-model="formData.message" name="message"></textarea>
              </div>
              <div class="form-group">
                <div
                    vc-recaptcha
                    key="model.key"
                ></div>
              </div>
              <div class="form-group">
                <button class="btn-cp" type="submit" name="button">{{button}}</button>
              </div>
            </form>
            <p>{{notif}}</p>
          </div>

        </div>
      </div>
      <div class="four columns">
        <div class="box-contact">
          <div class="title-boxcp">
            <span>Contact Person</span>
          </div>
          <ul>
            <li>
              <i class="icon-contact fa fa-phone"></i>
              <span>+62 817 5066 108 (Andreas)</span>
            </li>
            <li>
              <i class="icon-contact fa fa-phone"></i>
              <span>+62 878 3992 2155 (Dio)</span>
            </li>
          </ul>
        </div>
        <div class="box-contact">
          <div class="title-boxcp">
            <span>Social Media</span>
          </div>
          <ul>
            <li>
              <a href="http://line.me/ti/p/~@ykb1847q">
                <i class="icon-contact fa cp-line"></i>
                <div class="caption-icons">
                  <span>Line</span>
                </div>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/ifest_uajy/">
                <i class="icon-contact fa cp-instagram"></i>
                <div class="caption-icons">
                  <span>Instagram</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="footer">
  <div class="container">
    <p>Copyright © 2017 IFEST UAJY. All rights reserved</p>
  </div>
</div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->


</body>
</html>