/*  Font
------------------------------------------*/
@font-face {
    font-family: "BebasNeue";
    src: url(..\fonts\BebasNeue Regular.ttf);
}
@font-face {
    font-family: "CaviarDreams";
    src: url(..\fonts\CaviarDreams.ttf);
}

h1,h2,h3{
   font-family: "BebasNeue",sans-serif;
}
p,span,li,label{
   font-family: "CaviarDreams",sans-serif;
}

/*         OTHER
------------------------------------------------*/
.vertical-box{display: table;}
.vertical-item{display: table-cell;vertical-align: middle;}



/*         HEADER
------------------------------------------------*/
#header{
  background: rgb(10, 26, 46);
  color: #fff;
  position: relative;
  padding: 15px 0;
}
.logo-box{
  position: relative;
  text-align: center;
  height: 52px;
}
#logo{
  height: 100%;
}
ul.navbar-box{
  position: relative;
  text-align: right;
  margin-bottom: 0;
}
li.item-nav{
  font-size: 13pt;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  list-style: none;
  margin-bottom: 0;
}

/*         LOGO IFEST
------------------------------------------------*/
#content-header{
  position: relative;
  background: url('../../logo-acara.new/stardust.png') #0a1a2e;
  color: #fff;
  /* padding: 60px 0; */
}

.logo-ifest{
  height: 580px;
  width: 100%;
  display: flex;
  align-items: center;
}
.logo-content {
    height: 500px;
    margin: 0 auto;
}

.logo-ifest h1
{
  text-align: center;
}
.text{
  width: 100%;
}
/*    CONTENT 2
-------------------------------------------*/
section#content-2 {
    background: #bf3b2b;
    color: #fff;
    height: 500px;
    display: flex;
    align-items: center;
}
p.desc {
    font-size: 13pt;
    text-align: justify;
    letter-spacing: 0.3pt;
}
.flexslider {
    height: 250px;
    position: relative;
}
.box-content {
    height: 310px;
    position: relative;
    align-items: center;
    display: flex;
}
.title-content-acara
{
  text-align: center;
}
#content-2 .row {}
.splash{
  display: none;
}
.item-acara{
  text-align: center;
}

/*    ACARA
-------------------------------------------*/
section#content-acara{
  height: 760px;
  padding: 60px 0;
  background: #0a1a2e;
  color: #fff;
}
section#acara-top {
    background: #0a1a2e;
    /* border-top: 2px solid #fae0a4; */
    padding: 30px 0;
    color: #fff;
    /* border-bottom: 2px solid #bf3b2b; */
}

section#acara-bottom {
    /* border-top: 3px solid #8ccdbc; */
    /* border-bottom: 3px solid #8ccdbc; */
    background: #bf3b2b;
    height: 100%;
}
.arrow-border {
  position: relative;
  top: -48px;
  left: 80px;
  height: 0;
  width: 0;
  border: 25px solid transparent;
  border-bottom: 25px solid #bf3b2b;
}
.item-acara h4 {
    font-size: 16pt;
    margin-bottom: 0;
}

.img-acara {
    height: 120px;
    margin-bottom: 15px;
}

img {
    height: 100%;
}

.box-content-acara {
    padding: 30px;
}
#acara-bottom .container {
    background: #bf3b2b;
    border-radius: 5pt;
}
/*    TIMELINE
-------------------------------------------*/
div#cd-timeline {
    font-size: 100% !important;
}
section#content-timeline {
    padding: 30px 0;
    font-size: 100% !important;
    background: #fae0a4;
}
.title-timeline {
    text-align: center;
}
.cd-box1{
  background: #C0392B;
}
.cd-box2{
  background: #2574A9;
}
.cd-box3{
  background: #545e69;
}

h1.title{
  text-align: center;
  letter-spacing: 0;
}
.content-box {
    /* padding-top: 30px; */
}

/*    SPONSOR
-------------------------------------------*/
.item-sponsor {
    text-align: center;
}

.item-sponsor img {
    display: block;
}
/*    MAP
-------------------------------------------*/
#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#content-map
{
  height: 250px;
}
/*  CONTACT US
----------------------------------------------*/

.title-contact {
    text-align: center;
}

input[type="text"], textarea {
    width: 100%;
    border: none;
}

input[type="text"]:focus {
    border: 2px solid #33C3F0;
}
.box-contact li {
    list-style: none;
}
i.icon-contact {
    margin-right: 15px;
}

.box-contact {
    border-radius: 10px;
    background: #F2F1EF;
    padding: 20px 30px;
    margin-bottom: 4%;
}

.box-contact h3 {}

span.title-boxcp {
    font-size: 25pt;
}
.title-boxcp {
    border-bottom: 1px solid #6C7A89;
    margin-bottom: 15px;
}
.box-form-content {font-size: 11pt;}
.title-boxcp span {
    font-size: 19pt;
    font-family: "Lato",sans-serif;
}

.box-contact ul li {
    font-size: 12pt;
}

.box-contact ul {
    margin-bottom: 0;
}
