  Font
------------------------------------------*/
@font-face {
    font-family: "BebasNeue";
    src: url(../fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: "CaviarDreams";
    src: url(../fonts/CaviarDreams.ttf);
}
h4{
  font-family: "Open Sans", sans-serif;
  color: #acb7c0;
}
h1,h2,h3,h6{
   font-family: "BebasNeue",sans-serif;
}
p,span,li,label{
   font-family: "CaviarDreams",sans-serif;
}
.cd-date{
  s
}
/*         OTHER
------------------------------------------------*/
.cp-line:before{
  background: url('../img/line.png') no-repeat;
  background-size: 30px 30px;
  display: inline-block;
  height: 30px;
  width: 30px;
  content:"";
}
.cp-line{
  top: 8px;
  position: relative;
  display: inline-block;
}
.cp-instagram:before{
  background: url('../img/instagram.png') no-repeat;
  background-size: 30px 30px;
  display: inline-block;
  height: 30px;
  width: 30px;
  content:"";
}
.cp-instagram{
  top: 8px;
  position: relative;
  display: inline-block;
}
.caption-icons{
  display: inline-block;
  font-size: 120%;
}
hr{
  margin: 0;
}
h6 {
  letter-spacing: 2pt;
    font-size: 14pt;
    text-align: center;
}

body
{
  background: url('../../logo-acara.new/stardust.png') #0a1a2e fixed;
}
/*         HEADER
------------------------------------------------*/
#header{
  background: rgb(10, 26, 46);
  color: #fff;
  position: fixed;
  padding: 15px 0;
  width: 100%;
  z-index: 1;
}
.logo-box{
  position: relative;
  text-align: center;
  height: 52px;
}
#logo{
  height: 100%;
}
.logo-content img {
    min-width: 100%;
}
ul.navbar-box{
  position: relative;
  text-align: right;
  margin-bottom: 0;
}
li.item-nav{
  font-size: 13pt;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  list-style: none;
  margin-bottom: 0;
}

/*         LOGO IFEST
------------------------------------------------*/
#content-header{
  position: relative;
  background: transparent;
  color: #fff;
  padding-top: 85px;
}

.logo-ifest{
  height: 580px;
  width: 100%;
  display: flex;
  align-items: center;
}
.logo-content {
    height: 500px;
    margin: 0 auto;
}
.logo-content img{
    height: 100%;
}

.logo-ifest h1
{
  text-align: center;
}
.text{
  width: 100%;
}
/*    CONTENT 2
-------------------------------------------*/
section#content-2 {
    background: #bf3b2b;
    color: #fff;
    height: 500px;
    display: flex;
    align-items: center;
}
p.desc {
    font-size: 13pt;
    text-align: justify;
    letter-spacing: 0.3pt;
}
.flexslider {
    height: 365px;
    position: relative;
}
.box-content {
    height: auto;
    position: relative;
    align-items: center;
    display: flex;
}
.title-content-acara{
  text-align: center;
}
#content-2 .row {}
.splash{
  display: none;
}
.item-acara{
  text-align: center;
}
.item-acara a:hover h4{
  color: #0FA0CE;
}
.img-slider{
  width: 536px;
}
p.flex-caption {
    padding: 15px;
    top: -49px;
    position: relative;
    background: rgba(0,0,0,0.3);
    font-size: 13pt;
    width: 100%;
}
/*    ACARA
-------------------------------------------*/
section#content-acara{
  height: auto;
  padding: 60px 0;
  background: transparent;
  color: #fff;
}
section#acara-top {
    /* background: #0a1a2e; */
    /* border-top: 2px solid #fae0a4; */
    padding: 30px 0;
    color: #fff;
    /* border-bottom: 2px solid #bf3b2b; */
}

section#acara-bottom {
    /* border-top: 3px solid #8ccdbc; */
    /* border-bottom: 3px solid #8ccdbc; */
    /* background: #bf3b2b; */
    /* height: 100%; */
}
.arrow-border {
  position: absolute;
  top: -49px;
  left: 84%;
  height: 0;
  width: 0;
  border: 25px solid transparent;
  border-bottom: 25px solid #bf3b2b;
}
.item-acara h4 {
    font-size: 16pt;
    margin-bottom: 0;
}

.img-acara {
    height: 120px;
    margin-bottom: 15px;
}

img {
    /* height: 100%; */
}

.box-content-acara {
    padding: 30px;
}
#acara-bottom .container {
    background: #bf3b2b;
    border-radius: 5pt;
}
.img-acara img {
    height: 100%;
}
/*    TIMELINE
-------------------------------------------*/
div#cd-timeline {
    font-size: 100% !important;
}
div#cd-timeline p{
    text-align: justify;
}
section#content-timeline {
    padding: 30px 0;
    font-size: 100% !important;
    background: rgb(230, 128, 37);
}
.title-timeline {
    text-align: center;
}
.cd-box1{
  background: #0a1a2e;
}
.cd-box2{
  background: #fff;
}
.cd-box3{
  background: #545e69;
}
span.cd-date{
  /* font-weight: bold; */
}
h1.title{
  text-align: center;
  letter-spacing: 0;
  margin-top: 70px;
}
.content-box {
    /* padding-top: 30px; */
}

/*    SPONSOR
-------------------------------------------*/
#content-sponsor{
  background: #fff;
  padding:15px 0 60px;
}
#sponsor-top{
  margin-bottom: : 5px;
  color: #bf3b2b;
}
.sponsor-items{
  text-align: center;
  margin-bottom: 30px;
}
.sponsor-item{
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/*.sponsor-items{
  margin: 15px auto;

}
.sponsor-item{
  color: #fff;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 15px;
}
*/
.sponsor-item img{
  vertical-align: middle;
  max-height: 102px;
}

.gold{ 
  max-width: 30.6666666667%;
  margin-left: 4%;
}   
       
.silver{        
  max-width: 16.6666667%;     
  margin-left: 4.1666667%;
}                      
.bronze{
  max-width: 10.625%;        
  margin-left: 4.2708333%;
}    
/*    MAP
-------------------------------------------*/
#map {
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#content-map
{
  height: 250px;
}
/*  CONTACT US
----------------------------------------------*/
section#content-cp {
    padding: 30px 0;
    background: #fae0a4;
}
.title-contact {
    text-align: center;
}

input[type="text"], textarea , input[type="email"] {
    width: 100%;
    border: none;
    font-family: "CaviarDreams",sans-serif;
}

input[type="text"]:focus {
    border: 2px solid #33C3F0;
}
.box-contact li {
    list-style: none;
}
i.icon-contact {
    margin-right: 10px;
}

.box-contact {
    border-radius: 10px;
    background: #8ccdbc;
    padding: 30px 30px 1px 30px;
    margin-bottom: 4%;
}

.box-contact h3 {}

span.title-boxcp {
    font-size: 25pt;
}
.title-boxcp {
    border-bottom: 1px solid #6C7A89;
    margin-bottom: 15px;
}
.box-form-content {font-size: 11pt;}
.title-boxcp span {
    font-size: 19pt;
    font-family: "BebasNeue",sans-serif;
    letter-spacing: 2pt;
}

.box-contact ul li {
    font-size: 11pt;
    /* font-weight: bold; */
}

.box-contact ul {
    margin-bottom: 0;
}
.box-contact textarea {
    height: 200px;
    resize: none;
}
.btn-cp {
  background: #bf3b2b !IMPORTANT;
  color: #fff;
  font-family: "CaviarDreams",sans-serif;
  font-size: 10pt !IMPORTANT;
  margin-top: 10px;
}
.box-contact a{
  color: #000;
}


#footer{
  background: #fae0a4;
  text-align: center;
  font-size: 12pt;
}


.cd-timeline-content h2{
  margin-bottom: 20px !important;
}
/*  MoBILE
----------------------------------------------*/
@media only screen and (max-width: 550px) {
  h2{
    font-size: 18pt !important;
    margin-bottom: 20px !important;
  }
  .logo-content img {
     width: 100%;
  }
  /*       HEADER
  ---------------------------*/
  #header{
    background: rgb(10, 26, 46);
    color: #fff;
    position: relative;
    padding: 15px 0;
    width: 100%;
    z-index: 1;
  }
  #content-header{
    height: auto;
    padding: 0;
    position: relative;
  }
  .logo-ifest{
    height: auto;
    padding: 30px 0;
  }
  .logo-content {
      height: auto;
  }
  .flexslider{
    display: none;
  }
  .box-logo{
    margin: 0 auto;
    width: 400px;
    position: relative;
  }
  .navbar{
    display: none;
  }
  /*    CONTENT 2
  -------------------------------------------*/
  section#content-2 {
      background: #bf3b2b;
      color: #fff;
      height: auto;
      display: flex;
      align-items: center;
  }
  p.desc {
      font-size: 12pt;
      text-align: justify;
      letter-spacing: 0.3pt;
  }
  #acara-top{
    zoom: 0.9;
  }
}

/* Larger than tablet */
@media only screen and (max-width: 750px) {
  .logo-content img {
     height: 100%;
  }

  .five.columns{
    width: 100% !important;
  }
  .img-acara img{
    margin: 15px 0;
  }
  .arrow-border{
    left: 44% !important;
  }
}

/* Larger than desktop */
@media only screen and (max-width: 1000px) {
  .title-boxcp span{
    font-size: 12pt;
  }
  .flexslider{
    display: none;
  }
  .box-contact ul li{
    font-size: 8pt;
  }
  .five.columns{
    width: 100% !important;
  }
  .arrow-border{
    left: 81%;
  }
}

/* Larger than Desktop HD */
@media only screen and (max-width: 1200px) {
  .flexslider{
    margin: 40px 0;
    height: 312px;
  }
  .arrow-border{
    left: 83.2%;
  }
}
